* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  height: 100vh;

  align-items: center;
  justify-content: center;
}
.container {
  text-align: center;

  height: fit-content;
}
.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.content {
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  padding: 10px 30px;
  background-color: rgb(210, 203, 203);
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.text4,
.text5,
.text6,
.text7,
.text8,
.text9,
.text10,
.text11,
.text12,
.text13,
.text14,
.text15 {
  background-color: rgb(236, 228, 228);
}
.text15 {
  background-color: rgb(71, 189, 228);
}
.header {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}
.header1 {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: right;
}
.header2 {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 2.5rem;
  font-weight: 400;
}
